# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS X
.DS_Store

# Thumbnails
._*

user_stories
# Files that might appear on external disk
.Spotlight-V100
.Trashes
assets
# SASS & Compass
.sass-cache

media/
*.sw[op]
*.log
*.pdf
*.out
*.pot
*.html~
*.pid
# Redis dump
*.rdb
testing.db
*.db
db.sqlite
*.sublime-*

.env
*.test
*.tmp
*.test
tmp.*
notes/

# Vendor Packages
vendor/

